.App {
  text-align: center;
}

.cor{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    color: blueviolet;
}

.cor2{
   font-style: italic;
   font-family: Arial, Helvetica, sans-serif;
   color: coral;
   font-size: 80px;
}

.cor3{
   color: darkred;
   font-size: 45px;
   background-color: rgb(141, 172, 160);
   -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
   -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
   box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
   text-transform:uppercase;
}

.cor4{
   background: radial-gradient(blue,yellow,green);
   color: white;
   font-size: 30px;
}

@keyframes cor5 {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.cor5 {
  font-size: 26px;
  font-weight: bold;
  -webkit-animation: cor5 .75s linear infinite;
  -moz-animation: cor5 .75s linear infinite;
  -ms-animation: cor5 .75s linear infinite;
  -o-animation: cor5 .75s linear infinite;
  animation: cor5 .75s linear infinite;
}

.cor6{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px black;
    background-color:red;
}

.cor7{
    color: indigo;
    font-size: 24px;
}

.cor8 {
   transform: rotate(-15deg);
   position:relative;
    
   top:50%;
   left:50%;
   margin-left:-50px;
   width: 100px;
   height: 100px;
    
  
   -webkit-animation: rodaroda 3s linear alternate 3;
   -moz-animation: rodaroda 3.0s linear infinite;
   -ms-animation: rodaroda 3.0s linear infinite;
   -o-animation: rodaroda 3.0s linear infinite;
   animation: rodaroda 3.0s linear infinite;
}
  
  
@-webkit-keyframes rodaroda {
    0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
    50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
  @-moz-keyframes rodaroda {
    0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
    50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-ms-keyframes rodaroda {
    0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
    50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-o-keyframes rodaroda {
    0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
    50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@keyframes rodaroda {
    0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
    50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

.cor9 {
   direction: rtl;
   unicode-bidi: bidi-override;
   font-size: 30px;
}
  